In [ ]:
print("Hello World")

Hello World

In [5]:
for i in range(100):
    
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [7]:
print(2+2)

4

In [9]:
print("2"+"2")

22

In [11]:
print(2.1+2)

4.1

In [13]:
a=10
print(a)

10

In [15]:
type

type

In [17]:
type(a)

int

In [19]:
a="ARIMA"

In [21]:
print(a)

ARIMA

In [23]:
type

type

In [25]:
type(a)

str

In [31]:
name="Nikesh ADK"
age=19
roll_no=230326
print(name, "\n", age, "\n", roll_no, "\n")

Nikesh ADK
 19
 230326

In [32]:
print(f"name:{name}, age: {age}, roll_no: {roll_no}")

name:Nikesh ADK, age: 19, roll_no: 230326

In [34]:
a=10,b=20,c=30
print(a, b, c)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (151242210.py, line 1)

In [36]:
a,b,c=10,20,30
print(a, b, c)

10 20 30

In [38]:
x=2+3j
y=2+2j
print(x+y)

(4+5j)

In [41]:
print(x.real)

2.0

In [44]:
print(x.imag)

3.0

In [46]:
print(x.conjugate)

<built-in method conjugate of complex object at 0x0000010DD065D9F0>

In [48]:
print(x.conjugate())

(2-3j)

In [52]:
if 5>=10:
    print("5 is greater than or equal to 10")
else:
    print("5 is less than 10")

5 is less than 10

In [ ]:
a=input()
print(a)

In [4]:
age=int(input("please enter your age"))
if age>=18:
    print(" eligible")

 eligible

In [6]:
name="ARIMA"#string is immutable i.e. cannot be changed
print(name)
# name[0]="i" ##ERROR

ARIMA

In [8]:
print(name[1:4])

RIM

In [15]:
print(name[-1:-5])

In [16]:
a="I'm  learning Python"
print(a)

I'm  learning Python

In [17]:
print(a[0:5:2])# a[start:stop:step]

Im

In [19]:
print(a[::-1])# reverse the string

nohtyP gninrael  m'I

In [21]:
print(a.upper())
print( a.lower())
print(a.strip())# removes leading and trailing spaces
print(a.title())# converts first letter of each word to uppercase
print(a.replace("Python", "C++"))# replaces Python with C++
print(a.split())# splits the string into a list of words
print(a.split(" ",-1   ))#splits the string into a list of words using space as a delimiter

I'M  LEARNING PYTHON
i'm  learning python
I'm  learning Python
I'M  Learning Python
I'm  learning C++
["I'm", 'learning', 'Python']
["I'm", '', 'learning', 'Python']

In [23]:
print(a)

I'm  learning Python

In [ ]:
name=name.replace("ARIMA", "NIKESH")
print(name)

NIKESH

In [2]:
x=4
x="ARIMA"
print(x)

ARIMA

In [4]:
x=str(3) #x woll be '3'
y=int(3) #y will be 3
z=float(3) #z will be 3.0
print(x, y, z)

3 3 3.0

In [6]:
x=5
y="Arima"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
# one value to multiple variable 
x=y=z="ORANGE"
print(x)
print(y)
print(z)

ORANGE
ORANGE
ORANGE

In [10]:
fruits=["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x="python "
y="is "
z="awesome"
print(x + y + z)

python is awesome

In [17]:
x="python "
y="is "
z="awesome"
print(x, y, z)

python  is  awesome

In [19]:
x="AWESOME"
def myfunc():
    print("Python is  " + x)
myfunc()

Python is  AWESOME

In [23]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [24]:
def myfunc():
    global x
    x= "Fantastic"
myfunc()
print("Python is " + x)

Python is Fantastic

In [25]:
x="AWESOME"

def myfunc():
    global x
    x="fantastic"
myfunc()
print("Python is " + x)

Python is fantastic

In [2]:
"""
#LIST, SET,TUPLES

list=[]ordered and changeable collection of items
list1=[1,2,3,4,5]   
list2=["apple", "banana", "cherry"]
list3=[1, "apple", 2.5, True]  # mixed data types


"""

fruits=["apple","banana","orange","cherry"]
print(fruits)
print(fruits[3])
print(fruits[0:3])
print(fruits[::-1])

['apple', 'banana', 'orange', 'cherry']
cherry
['apple', 'banana', 'orange']
['cherry', 'orange', 'banana', 'apple']

In [4]:
#LIST METHODS
print(dir(fruits)) # all the attributes and method that are available for the list object

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [11]:
print(len(fruits))
print(fruits[0])
fruits[0]="Mango"
print(fruits[0])
"C++" in fruits

5
GOOD
Mango

False

In [9]:
fruits.append("apple")
fruits.remove("orange")
fruits.pop(1)
fruits.insert(1,"pineapple")

In [12]:
print(fruits)

['Mango', 'pineapple', 'cherry', 'apple', 'apple']

In [15]:
fruits.sort()
fruits.reverse()

In [17]:
fruits.sort()
print(fruits)

['Mango', 'apple', 'apple', 'cherry', 'pineapple']

In [19]:
fruits.reverse()
print(fruits)

['Mango', 'apple', 'apple', 'cherry', 'pineapple']

In [21]:
fruits.clear()
print(fruits)

[]

In [25]:
# Define a list with integers and a nested list
list1 = [1, 2, 3, [4, 5]]

# Check if 1 is an element of list1 (True)
print(1 in list1)

# Check if [4, 5] (the whole sublist) is an element of list1 (True)
print([4, 5] in list1)

# Check if 4 is an element of list1 (False, because 4 is inside the nested list)
print(4 in list1)

# Check if 4 is in the nested list at index 3 (True)
print(4 in list1[3])

# Print the first element of the nested list ([4, 5]), which is 4
print(list1[3][0])

True
True
False
True
4

In [27]:
#list inside a list
list=[1,2,3,[4,5,[6,7,8],9]]
print(list[3]) # printing the nested list
print(list[3][2]) #printing the nested list
print(list[3][2][1])#print 7

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [29]:
square=[x**2 for x in range(1,6)]
print(square)

[1, 4, 9, 16, 25]

In [31]:
words=['apple','banana','cherry']
uppercased=[word.upper() for word in words]
print(uppercased)

['APPLE', 'BANANA', 'CHERRY']

In [38]:
fruits={ "apple","orange","banana","coconut","coconut"}
print(fruits)
print(dir(fruits))

{'coconut', 'banana', 'apple', 'orange'}
['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [40]:
# Creating a set
my_set = {1, 2, 3, 2, 4}
print(my_set)  # Output: {1, 2, 3, 4} (duplicates are removed)

# Adding an element
my_set.add(5)
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Checking membership
print(3 in my_set)  # Output: True

# Removing an element
my_set.remove(2)
print(my_set)  # Output: {1, 3, 4, 5}

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
True
{1, 3, 4, 5}

In [44]:
fruits.remove("banana")
fruits.pop()
print(fruits)

set()

In [48]:
vehicle={"bus","bike","jeep" }
vehicle.remove("bus")

In [50]:
vehicle.discard("bus")# it will remove bus if it is presented else dont throw error

In [52]:
#TUPLES() ORDERED AND UNCHANGABLE.
#DUPLICATE  OK,FASTER
fruits=("apple","banana","orange","guava","mango")
print(fruits)

('apple', 'banana', 'orange', 'guava', 'mango')

In [54]:
print(dir(fruits))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [56]:
# Creating a tuple
my_tuple = (1, 2, 3, "apple")

# Accessing elements by index
print(my_tuple[0])    # Output: 1

# Tuples can contain different data types
another_tuple = (10, "hello", 3.14)

# Tuples are immutable (this will cause an error)
# my_tuple[1] = 5  # TypeError

# Tuple unpacking
a, b, c, d = my_tuple
print(a, d)  # Output: 1 apple

1
1 apple

In [59]:
newtuple = ("1", "2", "3", "4")
y = ("5",)  # y must be a tuple, so add a comma
newtuple += y  # correct syntax for tuple concatenation
print(newtuple)

('1', '2', '3', '4', '5')

In [68]:
fruits=('apple','banana','cherry')
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)
(green,*yellow,red)=fruits
print(yellow)
print(green)

apple
banana
cherry
['banana']
apple

In [70]:
#NESTED TUPLES
# Creating a nested tuple
nested_tuple = (1, 2, (3, 4), (5, (6, 7)))

# Accessing elements
print(nested_tuple[2])      # Output: (3, 4)
print(nested_tuple[3][1])   # Output: (6, 7)
print(nested_tuple[3][1][0]) # Output: 6

(3, 4)
(6, 7)
6

In [73]:
fruits = ["banana", "orange", "apple", "grape"]

if "apple" in fruits:
    print("You have apples!")
else:
    print("No apples found.")

You have apples!

In [75]:
i=0;
while i<len(fruits):
    print(fruits[i])
    i=i+1

banana
orange
apple
grape

In [77]:
print(fruits*2)

['banana', 'orange', 'apple', 'grape', 'banana', 'orange', 'apple', 'grape']

In [92]:
student = {
    1: "first",
    "name": "Arima",
    "age": 20,
    "courses": ["Maths", "Science"]
}

# Accessing values using key
print(student["age"])          # Output: 20

# Accessing values using get() method
print(student.get("age"))      # Output: 20

# Creating a new dictionary using dict()
student = dict(name="Arima", age=30, city="London")
print(student)

# Accessing values
print(student["name"])         # Output: Arima
print(student.get("city"))     # Output: London

# Adding a new key-value pair
student["email"] = "arima@example.com"
print(student)

# Removing a key-value pair
student.pop("age")
print(student)

20
20
{'name': 'Arima', 'age': 30, 'city': 'London'}
Arima
London
{'name': 'Arima', 'age': 30, 'city': 'London', 'email': 'arima@example.com'}
{'name': 'Arima', 'city': 'London', 'email': 'arima@example.com'}

In [94]:
student["job"]="Engineer"
student["age"]=19
print(student)

{'name': 'Arima', 'city': 'London', 'email': 'arima@example.com', 'job': 'Engineer', 'age': 19}